body {
    color: #ffffff;
    background-image: url("fon.jpg");
    background-size: 100%;
    height: 100%;
}

* {
    padding: 0px;
    margin: 0px;
    border: none;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

#bar {
    border: 0px solid #000000;
    font-size: 30px;
    height: 80px;
    min-width: 340px;
    text-align: center;
    background-color: #B8369C;
}

#bar a {
    color: #ffffff;
    padding: 10px;
}

#bar a:hover {
    color: #000000;
    transition: 300ms;
}

#info {
    border: 0px solid #000000;
    text-align: center;
    margin: auto;
    background-color: #000000;
    margin-top: 300px;
    min-width: 340px;
}

.tovar {
    border: 2px solid #ffffff;
    width: 200px;
    height: 200px;
    margin: auto;
}

#ShowTovari {
    display: flex;
}

@media (max-width:740px) {
    #ShowTovari {
        margin-left: 2px;
        display: block;
    }
    .tovar {
        width: 150px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
}